@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.trash-animation-right {
  animation: swing 1s infinite alternate;
}
.trash-animation-left {
  animation: resverse_swing 1s infinite alternate;
}

@keyframes swing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      20px
    ); /* или другое значение, чтобы изменить расстояние перемещения */
  }
}

@keyframes resverse_swing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -20px
    ); /* или другое значение, чтобы изменить расстояние перемещения */
  }
}
